<div class="bg-image2">
    <div class="container my-4">
        <div class="row">
          <div class="col-md-4" *ngFor="let flashcard of flashcards">
            <div class="card-flip" (click)="flashcard.flipped = !flashcard.flipped">
              <div [class.flipped]="flashcard.flipped" class="flip">
                <div class="card front">
                  <div class="card-body">
                    <h5 class="card-title">Title: {{flashcard.title}}</h5>
                    <p class="card-text">Question: {{flashcard.question}}</p>
                  </div>
                </div>
                <div class="card back">
                  <div class="card-body">
                    <p class="card-text">Answer: {{flashcard.answer}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>    
</div>
